
html {
  font-size: 10px;
  --main: #3a3022;
  --sub: #2B2317;
  /* --h2-size: 6.4rem; */
 }

section {
  width: 100%;
  height: 100vh;
}

/* ---header--- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  padding: 0 100px;
  z-index: 1000;
  width: 100%;
  background: transparent;
  color: white;
  transition: background 0.3s, color 0.3s;
}

#header:hover {
  background: white;
  color: var(--sub) !important;
}

#header:hover a {
  color: var(--sub) !important;
}
#header:hover i {
  color: var(--sub) !important;
}
#header.scrolled {
  background: white !important;
  color: var(--sub) !important;
}

#header.scrolled a {
  color: var(--sub) !important;
}
#header.scrolled i {
  color: var(--sub) !important;
}
header h1 img {
  width: 20rem;
  object-fit: contain; 
  display: block; 
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1 {
  width: 30px;
  height: 20px;
 }


header #gnb {
  text-align: center;
}

header #gnb .dep1 {
  display: flex;
  position: relative;
}

header #gnb .dep1 > li {
  position: relative;
}

header #gnb .dep1 > li > a {
  display: flex;
  width: 160px;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.8rem;
  transition: font-weight 0.3s;
}

header #gnb .dep1 > li:hover > a {
  font-weight: bold;
}

header #gnb .dep2 {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 300px;
  background: #fff;
  color: var(--main);
  display: none;
  z-index: 10;
  padding-top: 30px;
}

header #gnb .dep1:hover .dep2 {
  display: block;
}

header #gnb .dep2 > li {
  margin-bottom: 15px;
  text-align: center;
}


.header-util {
  display: flex;
  align-items: center;
  gap: 4rem;
  color: #fff;
}

.header-util i {
  color: #fff; 
  font-size: 2.4rem;
}

.header-util .lang-wrap {
  position: relative;
}
.header-util .lang-wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
}
.header-util .lang-wrap ul {
  display: none;
  flex-direction: column;
}
.header-util .lang-wrap:hover ul {
  display: flex;
}
.header-util .lang-wrap button span {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.header-util .search-wrap {
  position: relative;
}

.header-util .search-wrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}
.header-util .search-wrap .blind {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  }
.header-util .search-wrap .search-box {
  display: none; 
  flex-direction: column;
  gap: 2.6rem;
  align-items: center;
  padding: 10rem 3rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 12rem;
  background: #fff;
  z-index: 999;
}

.header-util .search-box form {
  display: flex;
  gap: 0.4rem;
}

.header-util .search-box form input {
  height: 5.6rem;
  width: 48rem;
  padding: 0 2.4rem;
  color: #222;
  background: #fafafa;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.header-util .search-box form button {
  width: 5.6rem;
  height: 5.6rem;
  background: #222;
  border-radius: 0.5rem;
  font-size: 2.2rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
 /* ---main--- */

.main-swiper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main-swiper section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-swiper .panel1 { background-image: url(../img/main1.jpg); }
.main-swiper .panel2 { background-image: url(../img/main2.jpg); }
.main-swiper .panel3 { background-image: url(../img/main3.jpg); }
.main-swiper .panel4 { background-image: url(../img/main4.jpg); }
.main-swiper .panel5 { background-image: url(../img/main5.jpg); }

.main-swiper .normal-scroll {
  background: #f4f4f4;
  color: #333;
  padding: 100px 20px;
}

.main-swiper .normal-scroll h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.main-swiper .normal-scroll p {
  line-height: 1.6;
}

.main-swiper .swiper-txt {
  position: absolute;   
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}
.main-swiper .swiper-txt strong {
  font-size: 8rem;
  font-weight: bold;
}
.main-swiper .swiper-txt span {
  font-size: 3rem;
    
}
/* ---section1--- */
.section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/section1.jpg) center/cover no-repeat;
}

/* ---section2---  */
.section2 {
  background: url(../img/section2_bg.png) center/cover no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 80px 0;  */
  box-sizing: border-box;
}

.section2 h2 {
  font-size: 5rem;
  margin-bottom: 60px;
  color: #222;
  text-align: center;
}

.section2 .card {
  display: flex;
  gap: 30px;
  padding: 0 120px;
  width: 100%;
  box-sizing: border-box;
}

.section2 .card a {
  flex: 1;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.section2 .card a > img {
  width: 300px;
  height: auto;
  object-fit: contain;
  z-index: 2;
}

.section2 .bs-globus {
  background-image: url(../img/section2_img1.jpg);
}
.section2 .bs-cosmos {
  background-image: url(../img/section2_img2.jpg);
}
.section2 .bs-avalon {
  background-image: url(../img/section2_img3.jpg);
}

.section2 .txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  gap: 20px;
  text-align: center;
  box-sizing: border-box;
}

.section2 .txt img {
  width: 240px;
  margin-bottom: 20px;
}

.section2 .txt ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section2 .txt ul li {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
  color: #333;
}
.section2 .card a:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.15);
}
.section2 .card a:hover .white {
  display: none;
}
.section2 .card a:hover .txt {
  opacity: 1;
  background: #fff;
}


/* ---section3--- */


.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  
}

.section3 .content {
  flex: 1;
}

.section3 .content h2 {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 40px;
}

.section3 .content p {
  font-size: 3em;
  line-height: 1.6;
}

.section3 .content strong {
  color: green;
  font-weight: bold;
}


.section3 swiper-container {
  width: 600px;
  height: 600px;
}

.section3 swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.section3 swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100px;
}

.section3 .s1 {
  background: url(../img/section3_img1.jpg)center/cover no-repeat;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
}
.section3 .s2 {
  background: url(../img/section3_img2.jfif)center/cover no-repeat;
}
.section3 .s3 {
  background: url(../img/section3_img3.jpg)center/cover no-repeat;
}

.section3 swiper-slide {
  font-size: 7rem;
  font-weight: bold;
  color: white;
}


@media (max-width: 1024px) {
  .section3 {
    flex-direction: column;
    padding: 0 40px;
  }
  .section3 .content, .section3 .esg-swiper {
    width: 100%;
    padding: 0;
  }
  .section3 .swiper-slide img {
    width: 300px;
    height: 300px;
  }
  .section3 .content h2 {
    font-size: 4rem;
  }
  .section3 .content p {
    font-size: 1.5rem;
  }
}


/* ---section4--- */

.section4 {
  padding: 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  /* width: 100%;
  height: 100vh; */
}

.section4 .news-contents {
  display: flex;
  justify-content: center;
  gap: 100px;
  position: relative;
  width: 100%;
}

.section4 h2 {
  font-size: 8rem;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.section4 button {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #000;
  border-radius: 10px;
  position: absolute;
  right: 0;
  padding: 15px 30px;
  margin-bottom: 50px;
}

.section4 button i {
  transition: transform 0.3s ease;
}

.section4 button:hover {
  background-color: var(--sub);
  color: #fff;
}

.section4 button:hover i {
  transform: translateX(5px);
}

.section4 .swiper-news {
  display: flex;
}

.section4 .news-swiper {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 500px;
}

.section4 swiper-slide {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  position: relative;
  width: 25%;
  border-radius: 10px;
  overflow: hidden;
}

.section4 swiper-slide img {
  width: 100%;
  height: 60%;
}

.section4 .news-box {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  gap: 20px;
}

.section4 .news-box {
  font-size: 2.5rem;
}

.section4 .news-box p {
  line-height: 30px;
}

.section4 .news-box .date {
  font-size: 1.3rem;
  text-align: end;
}

.section4 swiper-slide:hover img {
  height: 50%;
}

.section4 swiper-slide:hover {
  background: var(--main);
  color: #fff;
}

.section4 swiper-slide:hover .news-box {
  padding: 40px 0;
  line-height: 40px;
  gap: 50px 20px;
}
.section4 swiper-slide:hover p {
  text-align: center;
  font-weight: bold;
}






/* ---section5--- */

.section5 {
  padding: 0px 120px;
  box-sizing: border-box;
  /* background: var(--main); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section5 .media {
  display: flex;
  width: 100%;
  gap: 24px;
  align-items: stretch;
  height: 700px;
  justify-content: space-between;
}

.section5 .main-video {
  flex: 3;
  aspect-ratio: 16 / 9;
  position: relative;
}

.section5 .main-video iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  object-fit: cover;
}

.section5 .next-videos {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 700px;
}

.section5 .next-videos iframe {
  width: 100%;
  border-radius: 8px;
  border: none;
  object-fit: cover;
  transition: transform 0.3s;
}

.section5 .next-videos iframe:hover {
  transform: scale(1.02);
}

.section5 .more-btn {
  margin-top: 40px;
  text-align: center;
  display: flex;
  align-items: center;
}

.section5 .more-btn a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  border: 2px solid var(--main);
  border-radius: 10px;
  /* display: inline-flex; */
  align-items: center;

  gap: 6px;
  padding: 15px 30px;
}
.section5 .more-btn:hover a {
  color: white;
  background: var(--sub);
}

/* ---section6--- */

.section6 {
  background: url(../img/section6_img.jpg) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.section6 .career-overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 0 120px;
  color: #fff;
}

.section6 .career-content {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section6 .career-content h2 {
  font-size: 10rem;
  font-weight: bold;
}
.section6 .career-content p {
  font-size: 2rem;
  line-height: 40px;
}
.section6 .career-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 3.5rem;
}

.section6 .career-link {
  position: relative;
  color: white;
  text-decoration: none;
  padding-top: 50px;
  display: flex;
  gap: 100px;
}

.section6 .career-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

/* ---section7--- */

.section7 {
  background: var(--main);
  display: flex;
  padding: 50px 120px;
  
}
.section7 .contact-box {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section7 .contact-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section7 .contact-content h2 {
  color: #fff;
  font-size: 8rem;
}
.section7 .contact-content p {
  color: #fff;
  font-size: 2rem;
}

.section7 .contact-form {
  display: flex;
  flex-direction: column;
  width: 40%; 
  gap: 20px;
}
.section7 .contact-form label {
  color: #fff;
  font-size: 3rem;
}

.section7 .contact-box-s {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section7 input, .section7 textarea {
  width: 100%;
  font-size: 2rem;
} 

.section7 .form-buttons {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  font-size: 1.5rem;
}

.section7 .form-buttons .btn-cancel {
  background: var(--main);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 30%;
  height: 100%;
}
.section7 .form-buttons .btn-submit {
  background: #ffffff;
  color: var(--sub);
  border-radius: 5px;
  width: 30%;
  height: 100%;
  font-weight: bold;
}


/* ---footer--- */

#footer {
  width: 100%;
  height: 400px;
  background: var(--sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 0 150px;
}

#footer .container .footer-links {
  display: flex;
  gap: 30px;
}
#footer .container .footer-links a {
  padding: 15px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
  font-size: 2.5rem;
}

#footer .container .footer-links .service {

}
#footer .container .corporation {
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 50px;
  font-size: 1.5rem;
}

#footer .container .corporation .footer-info {
  line-height: 30px;
}

#footer .container .corporation p, #footer .container .corporation span {
  line-height: 25px;
}